*, *:after, *:before {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Baloo Chettan 2', cursive !important;
	color: #fff !important;
	width: 100%;
	height: 100%;
	font-size: 18px !important;
	background-color: #000 !important;
}

ul, li {
	display: block;
}

input {
	border: none;
	padding: 5px;
	border-radius: 5px;
	box-sizing: border-box;
	box-shadow: 0px 0px 5px 0px black;
	outline: none;
}

.wrapper {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}